{% if site.googleplus_user %}
<section class="googleplus{% if site.googleplus_hidden %} googleplus-hidden{% endif %}">
  <h1>
    <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
      Google+
    </a>
  </h1>
</section>
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Octo site ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3360950720797783"
     data-ad-slot="4816629608"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
console.log("ad");
</script>