<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</section>
<a href="http://stackexchange.com/users/1250891">
<img src="http://stackexchange.com/users/flair/1250891.png" width="208" height="58" alt="profile for SiddharthP on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for SiddharthP on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a><a href="http://uk.linkedin.com/in/siddharthkpandey" style="text-decoration: none;">     
<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Siddharth Pandey's profile on LinkedIn">
</a>